<div class="card">
  <div class="card-header">
    <h1>CSS Analyser</h1>
  </div>
  <div class="card-body">
    <h2>Results for: {{thePage}}</h2>
    <div style="text-align: center">
      <img src="data:image/png;base64,{{results.screenshotPng}}" style="width: 100%; border: 1px solid black;"/>
    </div>
    <p>
      <br/>include: {{#each results.includeArray}}{{this}}{{/each}}
      <br/>exclude: {{#each results.excludeArray}}{{this}}{{/each}}
    </p>
    <h3>StyleSheets</h3>
    <p>

      {{#each results.styleSheets}}
        <p>
          styleSheetId: {{this.styleSheetId}}<br/>
          sourceURL: {{this.sourceURL}}<br/>
          origin: {{this.origin}}<br/>
          disabled: {{this.disabled}}<br/>
          isInline: {{this.isInline}}<br/>
          length: {{this.length}}
        </p>
      {{/each}}
    </p>
    <h3>BootCSS</h3>
    <p>
      Original Size: {{results.originalSize}}<br/>
      BootCSS Size: {{results.bootSize}} ({{results.percentage}}%)<br/>
    </p>
    <p>
      <textarea style="width: 100%; height: 200px;">{{results.bootCSS}}</textarea>
    </p>
  </div>
</div>
